@import url('https://fonts.googleapis.com/css2?family=Abel&family=Asap&family=Cabin:wght@600&family=Montserrat:ital,wght@0,400;1,500&family=Outfit:wght@500&family=Raleway:wght@300;500&display=swap');

.Container {
  background-image: url('./images/bg.svg');
  background-size: cover;
  display: flex;
  height: 100vh;
  width: fit-content;  
  transition: transform 0.3s ease-in-out;
}

.Slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: rgb(40, 40, 61);
  font-size: 40px;
}

.Key-message-slide {
  justify-content: end;
  align-items: end;
}

.Home {
  position: absolute;
  top: 30px;
  left: 130px;
  width: 160px;
}

.Onpoint {
  position: absolute;
  z-index: 2;
  bottom: 25px;
  left: 130px;
  width: 70px;
}

.Hello {
  position: relative;
  left: -360px;
  font-size: 35px;
  letter-spacing: 3px;
  line-height: 60px;
  text-transform: uppercase;
  color: #242424;
  font-family: "D IN Pro";
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif; 
}

.Task {
  position: relative;
  z-index: 1;
  left: 60px;
  text-align: left;
  font-size: 100px;
  letter-spacing: 11px;
  line-height: 120px;
  text-transform: uppercase;
  color: #171717;
  font-weight: 100;
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif;  
}

.Task span {
  font-weight:900;    
  -webkit-text-stroke: 9px;
}

.Ball-1 {
  position: absolute;
  top: 30px;
  left: 880px;
  height: 80px;
}

.Ball-2 {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 750px;
  height: 75px;
  animation-name: line;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.rot-container {
  position: absolute;
  z-index: 3;
  top: 160px;
  right: 100px;
  height: 200px;
  padding: 20px;
  animation-name: rot;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Ball-3 {
  height: 130px;
  animation-name: rot;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Ball-4 {
  position: absolute;
  z-index: 0;
  bottom: 170px;
  left: 25px;
  height: 80px;
  animation-name: line;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;  
}

@keyframes line {
  0% {
    transform: translatex(0px) translatey(0px)
  }
  100% {
      transform: translatex(40px) translatey(40px);
}}

.Ball-5 {
  position: absolute;
  bottom: 35px;
  left: 400px;
  height: 80px;
}

.Ball-6 {
  position: absolute;
  bottom: -110px;
  right: 150px;
  height: 250px;
  animation-name: big-ellips;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes big-ellips {
  0% {
    transform: translatex(0px) translatey(0px);
    height: 220px;
  }
  50% {
    height: 250px;
  }
  100% {
      transform: translatex(100px) translatey(0px);
      height: 220px;
}}

.Top-sperm {
  position: absolute;
  z-index: 3;
  top: 160px;
  left: 450px;
  height: 120px;
}

.Bottom-sperm {
  position: absolute;
  bottom: 5px;
  left: -110px;
  height: 190px;
}

.Layer {
  position: absolute;
  top: 80px;
  left: -100px;
  height: 140px;
}

.Next-btn {
  position: absolute;
  z-index: 4;
  top: 490px;
  right: 90px; 
  width: 300px;
}

.Message-text {
  display:flex;
  justify-content: flex-start;
  width: 83%;
  font-size: 29px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 45px;
  margin-top: 30px;
  font-family: "D IN Pro";
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif; 
}

.Message-bg {
  position: relative;
  z-index: 1;
  width: 760px;
  height: 429px;
  border-radius: 40px;
  filter: drop-shadow(5.446px 8.387px 125px rgba(157,185,198,0.39));
  background-color: #ffffff;
  left: 20px;
  padding-top: 30px;
  padding-left: 10px;
}

.Scroll-block {
  position: relative;
  height: 370px;
  width: 680px;
  overflow-y: scroll; 
  direction: rtl;  
}

::-webkit-scrollbar {
  background-color: transparent;
} 

.Scroll-block img {
  width: 656px;
  height: 630px;
}

.Scroll-track {
  position: absolute;
  left: 90px;
  top: 240px;
  height: 440px;
  width: 7px;
  border-radius: 10px;
  background-color: black;
}

.Scroll-btn {
  position: relative;
  top: -5px;
  left: -7px;
  height: 490px;
  width: 40px;
  border-radius: 10px;
  overflow-y: scroll;
}

.Scroll-btn div {
  height: 840px;
  position: relative
}

.Scroll-btn div img {
  position: relative;
  width: 20px;
  top: 350px;
}

.Sperm1-slide2 {
  position: absolute;
  animation-name: swim;
  animation-duration: 10s;
  animation-timing-function:inherit;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  top: 130px; 
  left: 830px;
  height: 150px;
}

.Sperm2-slide2 {
  position: absolute;
  animation-name: swim;
  animation-duration: 10s;
  animation-timing-function:inherit;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  top: 135px;
  left: 670px;
  height: 300px;
}

.Sperm3-slide2 {
  position: absolute;
  animation-name: swim;
  animation-duration: 10s;
  animation-timing-function:inherit;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  top: 160px;
  left: 500px;
  height: 500px;
}

.Sperm4-slide2 {
  position: absolute;
  animation-name: swim;
  animation-duration: 10s;
  animation-timing-function:inherit;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  bottom: 0px;
  left: 970px;
  height: 300px
}

.Sperm5-slide2 {
  position: absolute;
  animation-name: swim;
  animation-duration: 10s;
  animation-timing-function:inherit;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  bottom: 30px;
  left: 1000px;
  height: 150px;
}

.Main-block {
  display: -webkit-inline-box;
  width: 800px;
  height: 380px; 
  padding-bottom: 30px;
  padding-left: 20px;
}

.Main-block img {
  width: 250px;
  position: relative;
  top: 190px;
  left: -250px
}

.TextBlockMini1 { 
  padding-left: 55px;
  padding-top: 50px;
  width: 250px;
  height: 150px;
  border-radius: 40px;
  filter: drop-shadow(5.446px 8.387px 125px rgba(157,185,198,0.39));
  background-color: #ffffff;
  font-size: 26px;
  width: 420px;
  height: 280px; 
  margin-right: 35px; 
  padding-left: 120px;
}

.TextBlockMini1 img {
  width: 75px; 
  position: absolute; 
  top: -40px; 
  left: 120px;
}

.TextBlockMini2 { 
  padding-left: 55px;
  padding-top: 50px;
  width: 250px;
  height: 150px;
  border-radius: 40px;
  filter: drop-shadow(5.446px 8.387px 125px rgba(157,185,198,0.39));
  background-color: #ffffff;
  font-size: 26px;
}

.TextBlockMini2 img {
  width: 75px; 
  position: absolute; 
  top: -27px;
  left: 50px;
}

.KeyMessage {
  height:220px;
  width:655px;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #242424;
  font-family: "D IN Pro";
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif; 
}

.Brend{
  position: absolute;
  z-index: 2;
  top: 210px;
  left: 360px;
  font-size: 85px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #242424;
  font-family: "Gilroy";
  font-family: "D IN Pro";
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.Brend b {
  -webkit-text-stroke: 6px;
  letter-spacing: 18px;
  font-size: 78px;
}

.Bottle-container {
  position: absolute; 
  bottom: -40px;
  left: 60px;
}

.Bottle {
  position: relative;
  z-index: 2;
  height: 700px;
}

.Bubble1 {
  position: absolute; 
  z-index: 1;
  width: 45px;
  top: 20px;
  right: 25px;
  opacity: 0.929;
}

.Bubble2 {
  position: absolute;
  z-index: 2;
  width: 75px;
  top: 100px;
  right: 30px;
  opacity: 0.929;
}

.Bubble3 {
  position: absolute;
  z-index: 1;
  width: 40px;
  top: 140px;
  left: 30px;
  opacity: 0.929;
}

.Bubble4 {
  position: absolute;
  z-index: 1;
  width: 135px;
  top: 230px;
  right: -50px;
  opacity: 0.929;
}

.Bubble5 {
  position: absolute;
  z-index: 1;
  width: 45px;
  top: 400px;
  left: -35px;
  opacity: 0.929;
}

.Bubble6 {
  position: absolute;
  z-index: 2;
  width: 100px;
  top: 500px;
  left: -25px;
  opacity: 0.929;
}

.Bubble7 {
  position: absolute;
  z-index: 1;
  width: 55px;
  top: 500px;
  right: -40px;
  opacity: 0.929;
}

.Bubble8 {
  position: absolute;
  z-index: 2;
  width: 170px;
  bottom: -70px;
  right: -23px;
  opacity: 0.929;
}

  .Anim {
    animation-name: BubbleLine;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate
  }

  @keyframes BubbleLine {
    0% {
      transform: translatex(0px) translatey(0px)
    }
    100% {
        transform: translatex(-40px) translatey(-30px);
  }
  }

   .AnimV{
    animation-name: bubbles;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes bubbles {
    0% {
      transform: translatex(0px) translatey(0px);
      height: 220px;
    }
    50% {
      height: 250px;
    }
    100% {
        transform: translatex(50px) translatey(0px);
        height: 220px;
  }
  }

.Modal {
  position: absolute;
  z-index: 1;
  background-color: rgba(22, 39, 62, 0.7);
  justify-content: end;
  align-items: end;
  display: none;
}

.Active-modal {
  display: flex;
}

.Modal-content {
  position: relative;
  opacity: 4;
  width: 810px;
  height: 555px;
  border-radius: 50px;
  background-color: #ffffff;
  margin-bottom: 80px;
  margin-right: 76px;
}

.Close-button {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 40px;
}

.Modal-content p {
  margin-left: 230px;
  margin-top: 20px;
}

.Modal-content ul {
  list-style: none;
  position: relative;
  width: 460px;
  top: 130px;
  left: 240px;
  font-size: 23px;
  line-height: 35px;
}

.Modal-content ul .Number {
font-weight: 900;
color:rgb(167, 216, 232);
}

@keyframes swim{
  0% {
    opacity: 0;
    transform: translatex(10px) translatey(10px)
  }
  50% {
    opacity: 1;
    transform: translatex(-100px) translatey(-70px);
  }
  100% {
    opacity: 0;
    transform: translatex(-100px) translatey(-70px);
  }
}

.Flipper {
  position: absolute;
  left: 230px;
  bottom: 30px;
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.Arrow {
  width: 29px;
  padding: 10px;
}

.Ellipse {
  width: 9px;
}