@import url('https://fonts.googleapis.com/css2?family=Abel&family=Asap&family=Cabin:wght@600&family=Montserrat:ital,wght@0,400;1,500&family=Outfit:wght@500&family=Raleway:wght@300;500&display=swap');

.App {
  /* text-align: center;
  display: flex; */
  overflow-x: scroll;
  overflow-y: hidden;
}

.Container {
  background-image: url('./images/bg.svg');
  background-size: cover;
  display: flex;
  height: 100vh;
  width: fit-content;  
  transition: transform 0.3s ease-in-out;
}

.Slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: rgb(40, 40, 61);
  font-size: 40px;
}

.Home {
  position: absolute;
  top: 30px;
  left: 130px;
  width: 160px;
}

.Onpoint {
  position: absolute;
  bottom: 25px;
  left: 130px;
  width: 70px;
}

.Hello {
  position: relative;
  left: -360px;
  font-size: 35px;
  letter-spacing: 3px;
  line-height: 60px;
  text-transform: uppercase;
  color: #242424;
  font-family: "D IN Pro";
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif; 
}

.Task {
  position: relative;
  left: 60px;
  text-align: left;
  font-size: 100px;
  letter-spacing: 11px;
  line-height: 120px;
  text-transform: uppercase;
  color: #171717;
  font-weight: 100;
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif;  
}

.Task span {
  font-weight:900;    
  -webkit-text-stroke: 9px;
}

.Layer {
  position: absolute;
  left: -100px;
  top: 80px;
  height: 140px;
}

.PinkSperm {
  position: absolute;
  left: 450px;
  top: 160px;
  height: 120px;
  z-index: 3;
}

.Ball {
  position: absolute;
  right: 150px;
  bottom: -110px;
  height: 250px;
  animation-name: big-ellips;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.Mini-ball {
  position: absolute;
  left: 400px;
  bottom: 110px;
  height: 80px;
}

.rot-container {
  height: 200px;
  animation-name: rot;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  padding: 20px;
  position: absolute;
}

.rot {
  height: 130px;
  animation-name: rot;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.line-animation {
  animation-name: rot;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: 1;
  position: absolute;
  animation-name: line;
  animation-direction: alternate;
}

@keyframes line {
  0% {
    transform: translatex(0px) translatey(0px)
  }
  100% {
      transform: translatex(40px) translatey(40px);
}
}

@keyframes big-ellips {
  0% {
    transform: translatex(0px) translatey(0px);
    height: 220px;
  }
  50% {
    height: 250px;
  }
  100% {
      transform: translatex(100px) translatey(0px);
      height: 220px;
}
}

.Message-text {
  display:flex;
  justify-content: start;
  width: 83%;
  font-size: 29px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 45px;
  margin-top: 30px;
  font-family: "D IN Pro";
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif; 
}

.Message-bg {
  position: relative;
  width: 768px;
  height: 446px;
  border-radius: 40px;
  filter: drop-shadow(5.446px 8.387px 125px rgba(157,185,198,0.39));
  background-color: #ffffff;
  margin-left: 110px;
}

.Scroll-block {
  /* position: absolute; */
  top: 27px; 
  left: 10px;
  position: absolute;
  height: 390px;
  width: 800px;
  margin-left: 40px;
  direction: rtl;
  overflow-y: scroll;  
}

::-webkit-scrollbar-track {
  border-radius: 0.225rem;
  /* background-color: rgb(0, 0, 0); */
  /* background-image: url("./images/Rectangle.svg"); */
  background-size: cover;
  min-height: 300px;
  max-height: 300px;
}

::-webkit-scrollbar {
  width: 0.49rem;
  height: 20rem;
  min-height: 2rem;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.125rem;
  height: 2em;
  /* background-color: rgb(160, 58, 58); */
  /* background-image: url("./images/scroll-btn.svg"); */
};

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}

::-webkit-scrollbar-corner {
  background: black;
}




/* .Scroll-block ::-webkit-scrollbar{
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
  width: 7px;
}

.Scroll-block ::-webkit-scrollbar-thumb {

  border-radius: 4px;
  background-color: rgba(0,0,0,.5); 
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);} */

  .TextBlockMini {
    /* position: relative; */
    padding-left: 55px;
    padding-top: 50px;
    width: 250px;
    height: 150px;
    border-radius: 40px;
    filter: drop-shadow(5.446px 8.387px 125px rgba(157,185,198,0.39));
    background-color: #ffffff;
    font-size: 26px;
  }

  .KeyMessage {
    height:220px;
    width:655px;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #242424;
    font-family: "D IN Pro";
    font-family: 'Abel', sans-serif;
    font-family: 'Asap', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif; 
  }

  .Brend{
    position: absolute;
    z-index: 2;
    top: 210px;
    left: 360px;
    font-size: 90px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #242424;
    font-family: "Gilroy";
    font-family: "D IN Pro";
    font-family: 'Abel', sans-serif;
    font-family: 'Asap', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
  }

  .Anim {
    animation-name: line;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate
  }

   .AnimV{
    animation-name: big-ellips;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

.Modal {
  position: absolute;
  z-index: 1;
  background-color: rgba(22, 39, 62, 0.7);
  justify-content: end;
  align-items: end;
  display: none;
}

.Active-modal {
  display: flex;
}

.Modal-content {
  position: relative;
  opacity: 4;
  width: 810px;
  height: 555px;
  border-radius: 50px;
  background-color: #ffffff;
  margin-bottom: 80px;
  margin-right: 76px;
}

.Modal-content ul {
  list-style: none;
  position: relative;
  width: 450px;
  top: 130px;
  left: 240px;
  font-size: 23px;
  line-height: 35px;
}

.Modal-content ul .Number {
font-weight: 900;
color:rgb(167, 216, 232);
}